{% load static %}

<html>

<head>
    <script type="text/javascript" src="/static/js/loader.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/mainPageDesign.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
    
</head>


<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AQUALIZER</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="#"><font size="3">Temperature</font></a></li>
                <li><a href="#"><font size="3">pH</font></a></li>
                <li><a href="#"><font size="3">ORP</font></a></li> 
                <li><a href="#"><font size="3">Salinity</font></a></li> 
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-in"></span> <font size="3">Logout</font></a></li>
            </ul>

                
    </nav>

       
    <h2 class="headTitle"><font color="#250A91">Temperature</font></h2>

    <div class="row">
        <div class="col-md-6">      
            <div id="curve_chart"></div>
        </div>

        <div  class="col-md-6">
            <h2><font color="#250A91" size="6">Standard :</font></h2>
        </div>
    </div>

    
    <script type="text/javascript">



        /******************TO DRAW GRAPH FOR TEMPERATURE STARTS************************/


        var xData = [];
        var yData = [];
        var i = 0;
    
        {% for water in water_data %}
            yData[i] = {{ water.temperature }};
            xData[i] = new Date("{{ water.dateTime.isoformat }}");
            i = i + 1;
                    
        
        {% endfor %}
        


        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        //window.alert(xData[2]);


        function resizeCharts () {
            drawChart();
        }
        if (window.addEventListener) {
            window.addEventListener('resize', resizeCharts);
        }
        else if (window.attachEvent) {
            window.attachEvent('onresize', resizeCharts);
        }
        else {
            window.onresize = resizeCharts;
        }





              function drawChart() {

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Task');
                data.addColumn('number', 'Hours per Day');


                for(var j=0;j<yData.length;j++){
                    data.addRow([xData[j].toLocaleDateString(),parseInt(yData[j])]);
                }
                var options = {
                  title: 'Company Performance',
                  curveType: 'function',
                  legend: { position: 'bottom' },
                  pointShape:  'circle',
                  pointSize: 7
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
      }        


      /******************TO DRAW GRAPH FOR TEMPERATURE STARTS************************/
    </script>

</body>
</html>


